<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanyun.platform.pay.dao.PaymentNewDao">
    <resultMap id="BaseResultMap" type="com.hanyun.platform.pay.domain.PaymentNew">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="pay_id" property="payId" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="VARCHAR"/>
        <result column="store_id" property="storeId" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="order_document_id" property="orderDocumentId" jdbcType="VARCHAR"/>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="order_amount" property="orderAmount" jdbcType="BIGINT"/>
        <result column="pay_amount" property="payAmount" jdbcType="BIGINT"/>
        <result column="refund_amount" property="refundAmount" jdbcType="BIGINT"/>
        <result column="pay_status" property="payStatus" jdbcType="TINYINT"/>
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP"/>
        <result column="pay_type" property="payType" jdbcType="VARCHAR"/>
        <result column="type_category" property="typeCategory" jdbcType="VARCHAR"/>
        <result column="source_type" property="sourceType" jdbcType="VARCHAR"/>
        <result column="terminal_device_no" property="terminalDeviceNo" jdbcType="VARCHAR"/>
        <result column="terminal_ip" property="terminalIp" jdbcType="VARCHAR"/>
        <result column="operate_user" property="operateUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="had_pay_amount" property="hadPayAmount" jdbcType="BIGINT"/>
        <result column="had_pay_count" property="hadPayCount" jdbcType="INTEGER"/>
        <result column="refund_time" property="refundTime" jdbcType="TIMESTAMP"/>
        <result column="had_discount_amount" property="hadDiscountAmount" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, pay_id, brand_id, store_id, business_type, order_id, order_document_id,
        order_time, order_amount, pay_amount, 
        refund_amount, pay_status, pay_time, pay_type, type_category, 
        source_type,terminal_device_no,terminal_ip,operate_user,
        create_time, update_time, had_pay_amount, had_pay_count, refund_time,had_discount_amount
    </sql>
    
    <select id="selectByPayId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM payment_new
        WHERE pay_id = #{payId,jdbcType=VARCHAR}
    </select>
    
    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM payment_new
        WHERE order_id = #{orderId,jdbcType=VARCHAR}
    </select>
 
    <insert id="insert" parameterType="com.hanyun.platform.pay.domain.PaymentNew">
        INSERT INTO payment_new (
            pay_id, 
            brand_id, 
            store_id, 
            business_type,
            order_id, 
            order_document_id,
            order_time, 
            order_amount, 
            pay_amount, 
            pay_status, 
            <if test="payTime != null">
                pay_time,
            </if>
            pay_type,
            type_category,
            source_type,
            terminal_device_no,
            terminal_ip,
            operate_user,
            create_time, 
            update_time)
        VALUES (
            #{payId,jdbcType=VARCHAR}, 
            #{brandId,jdbcType=VARCHAR}, 
            #{storeId,jdbcType=VARCHAR}, 
            #{businessType,jdbcType=VARCHAR}, 
            #{orderId,jdbcType=VARCHAR}, 
            #{orderDocumentId,jdbcType=VARCHAR}, 
            #{orderTime,jdbcType=TIMESTAMP}, 
            #{orderAmount,jdbcType=BIGINT}, 
            #{payAmount,jdbcType=BIGINT}, 
            #{payStatus,jdbcType=TINYINT}, 
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            #{payType,jdbcType=VARCHAR},
            #{typeCategory,jdbcType=VARCHAR},
            #{sourceType,jdbcType=VARCHAR},
            #{terminalDeviceNo,jdbcType=VARCHAR},
            #{terminalIp,jdbcType=VARCHAR},
            #{operateUser,jdbcType=VARCHAR},
            now(), 
            now()
            )
    </insert>

    <update id="updatePayByPayId" parameterType="com.hanyun.platform.pay.domain.PaymentNew">
        UPDATE payment_new
        <set>
            pay_status = #{payStatus,jdbcType=TINYINT},
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="hadPayAmount != null">
                had_pay_amount = #{hadPayAmount,jdbcType=BIGINT},
            </if>            
            <if test="hadPayCount != null">
                had_pay_count = #{hadPayCount,jdbcType=INTEGER},
            </if>            
            <if test="hadDiscountAmount != null">
                had_discount_amount = #{hadDiscountAmount,jdbcType=BIGINT},
            </if>            
            <if test="payType != null">
                pay_type = #{payType,jdbcType=VARCHAR},
            </if>            
            <if test="typeCategory != null">
                type_category = #{typeCategory,jdbcType=VARCHAR},
            </if>            
            update_time = now()
        </set>
        WHERE pay_id = #{payId,jdbcType=VARCHAR}
    </update>
    
    <update id="updateRefundByPayId" parameterType="com.hanyun.platform.pay.domain.PaymentNew">
        UPDATE payment_new
        SET 
            refund_amount = #{refundAmount,jdbcType=BIGINT},
            pay_status = #{payStatus,jdbcType=TINYINT},
            refund_time = now(),
            update_time = now()
        WHERE pay_id = #{payId,jdbcType=VARCHAR}
    </update>
</mapper>